body
{
    background: linear-gradient(-45deg,#7a52b3, #2e1c2b, #4a1942, #7a52b3);
    font-family: 'Dejavu Sans', 'Arial', 'Verdana', 'sans-serif';
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
   
}
.title
{
    text-align: center;
    color: seashell;
}
.container{
    height: 100px;
    width: 700px;
}
.card-body{
    background:linear-gradient(-45deg,#7a52b3, #2e1c2b, #4a1942, #7a52b3);
    color:white;
    border: black 5px solid;
}