body
{
    background: linear-gradient(-45deg,#857DB1, #72418C, #8D69A2, #857DB1);
    font-family: 'Dejavu Sans', 'Arial', 'Verdana', 'sans-serif';
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
   
}
.title
{
    text-align: center;
    color: seashell;
}
.container{
    height: 100px;
    width: 700px;
}
.card-body{
    background: linear-gradient(-45deg,#857DB1, #72418C, #8D69A2, #857DB1);
    color:#edeee9;
    border: #343333 5px solid;
}
.line
{
    border-bottom: #343333 5px solid;
    background: #d6b4d6;
    
}