*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  
  background: linear-gradient(-45deg,#7a52b3, #2e1c2b, #4a1942, #7a52b3);
  font-family: 'Dejavu Sans', 'Arial', 'Verdana', 'sans-serif';
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}


.grid {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
          
}

.card {
  position: relative;
  -webkit-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  margin: 40px;
}

.card,
.back,
.front {
  height: 150px;
  width: 150px;
}

.back,
.front {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front {
  background-image: url('http://localhost:8080/img/Untitled (4).png');

}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #4a1942;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.match .front {
  background: linear-gradient(-45deg,#7a52b3, #2e1c2b, #4a1942, #7a52b3) !important;
}
#pop_up
{
  width: 50%;
  margin:0px auto;
  background-color:greenyellow;
  text-align: center;
  border-radius: 9px;
  padding: 6px;
}