*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          color: rgb(112,9,121);

}

body {
  
  background: rgb(112,9,121);
    background: linear-gradient(-45deg, rgba(168,70,235,1) 0%, rgba(215,183,237,1) 22%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
    font-family: 'Dejavu Sans', 'Arial', 'Verdana', 'sans-serif';
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    animation: backgroundTransition 8s ease-in-out infinite;

}

@keyframes backgroundTransition {
  0% {
      background-position: 0% 80%;
  }
  50% {
      background-position: 80% 100%;
  }
  100% {
      background-position: 0% 90%;
  }
}


.grid {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
          
}

.card {
  position: relative;
  -webkit-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  margin: 40px;
}

.card,
.back,
.front {
  height: 150px;
  width: 150px;
}

.back,
.front {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front {
  background-image: url('http://localhost:8080/img/Untitled (4).png');

}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #4a1942;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.match .front {
  background: rgb(112,9,121);
  background: linear-gradient(-45deg,rgba(0,212,255,1)  19%, rgba(191,200,212,1) 39%, rgba(112,9,121,1) 100%) !important;
  animation: backgroundTransition 8s ease-in-out infinite;
}
#pop_up
{
  width: 50%;
  margin:0px auto;
  background:linear-gradient(-45deg, rgba(212,210,236,1) 0%, rgba(190,190,219,1) 0%, rgba(208,229,233,1) 35%, rgba(192,216,221,1) 100%);
  text-align: center;
  border-radius: 9px;
  padding: 6px;

}