.container_form {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg,#857DB1, #72418C, #8D69A2, #857DB1);
    font-family: 'Dejavu Sans', 'Arial', 'Verdana', 'sans-serif';
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
    }
    .container{
        width: max-content;
    height: 50vh;
    background: #6C7A89;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background: linear-gradient(-45deg,#7a52b3, #2e1c2b, #4a1942, #7a52b3);
    background-size:cover;
    position: relative;
    border: solid 4px #fff;
    border-radius: 10px;
    }
#title_form
{
    color: rgb(255, 255, 255);
    text-align: center;
}
form button
{
    width: 100%;
}
body
{
    overflow-x:hidden;
}




